
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container h2 {
    margin: 0;
}

.navlinks {

}

.navlinks ul {
    display: flex;
    
    

}
.navlinks li{
    margin: 1em;
}
.navlinks a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

