@import url('https://fonts.googleapis.com/css?family=Bangers|Montserrat&display=swap');

.introPage {
    background: gray url("../images/intro-image.png") repeat 0 0;
      width: 100%;
      margin: 0;
      text-align: center;
      height: 90vh;
      padding-top: 120px;
      box-sizing: border-box;
      animation: slide 20s linear infinite;
}

.introPage a {
    text-decoration: none;
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.introPage h1 {
    font-family: 'Montserrat', cursive;
}